CONFIG_BOARD_TYPE_WAVESHARE_ESP32_S3_TOUCH_LCD_1_85B_APPSHELL=y
CONFIG_USE_WECHAT_MESSAGE_STYLE=n
CONFIG_USE_DEVICE_AEC=y
CONFIG_USE_HOTSPOT_WIFI_PROVISIONING=y
CONFIG_USE_ESP_BLUFI_WIFI_PROVISIONING=n
